* {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* header */
header {
    background-color: #A9907E;
    height: 20vh;
}

h1 {
    /* visibility: hidden; */
    padding-left: 40px;
    flex: 1 auto;
}

h1 i {
    color: orange;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 30px;
    flex: 3 auto;
}

.link {
    flex: 2 auto;
    text-align: center;
}

.link i {
    color: orange;
    font-size: 26px;
    margin: 0 5px;
}

.link i:hover {
    color: rgb(154, 100, 0);
}

.menu {
    flex: 3 auto;
}
.menu a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
}

.menu a:hover {
    color: orange;
}

.bgm {
    display: none;
}

/* .menu a::after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-color: orange;
    transition: all .2s ease-out;
}

.menu a:hover::after {
    width: 100%;
} */

/* main */
main {
    height: 100vh;
}

section {
    height: 100%;
}

/* section 1 */
.s1 {
    flex: 2 auto;
    background-color: #F3DEBA;
}

img {
    width: 180px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* section 2 */
.s2 {
    flex: 5 auto;
    background-color: #ABC4AA;
}

.title {
    position: relative;
    left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: right;
}

.intro {
    width: 70%;
    margin: 20px 0;
}

.intro p {
    font-size: 14px;
}

.skills {
    width: 70%;
    margin-bottom: 20px;
}

.qna {
    width: 70%;
}

summary {
    font-weight: bold;
}

.txt {
    padding-left: 160px;
    color:white;
}
/* footer */
footer {
    background-color: #675D50;
    height: 15vh;
    justify-content: center;
}

.center_col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
